@charset "UTF-8";
body {
    background-color: #212121; /*Background color*/
    background-image: url(Images/OwnerCats.jpg); /*Image of cats. Will take up whole background*/
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; 
    text-decoration: none;
    color: #FFFEFE;
    font-weight: bolder; /*Heavier text*/
    font-variant: small-caps;
    font-size: large;
    background-attachment: scroll; /*When changing page size, background cats move with it*/
}
h1 {
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    font-size: xx-large; 
    text-align: center; /*Title in center of column*/
    color: #FFFFFF;
}
p {
    background-color: #000000;
    border-left-width: 50%;
    width: 100%;
    color: #FFFDFD;
}
footer {
    background-color: #000000;
    bottom: 0px;
    float: right; /*Bottom right of page*/
    position: fixed; /*Stays in place regardless of page movement*/
    color: #FFFFFF;
}
body nav a {
    color: #FFF9FA;
    font-size: medium;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;
}

@media (max-width:700px){
}
